body {
    color:white;
    background:black;
    margin: 2px;
    }

 header {
    border-bottom: solid 2px rgb(0, 95, 123);
    padding: 20px;
    font-size: 35px;
    color: rgb(0, 95, 123);
    }

   section {
    background: rgb(255, 61, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
   } 

.chamada-texto {
       margin-right: 5%;
   }